web/WEB-INF/wsdl/localhost_8080/Services/Services.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="obtenerClientes" type="tns:obtenerClientes" />

<xs:element name="obtenerClientesResponse" type="tns:obtenerClientesResponse" />

<xs:element name="obtenerVideojuegos" type="tns:obtenerVideojuegos" />

<xs:element name="obtenerVideojuegosResponse" type="tns:obtenerVideojuegosResponse" />

<xs:complexType name="obtenerVideojuegos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="obtenerVideojuegosResponse">
<xs:sequence>
<xs:element name="return" type="tns:videojuego" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="videojuego">
<xs:complexContent>
<xs:extension base="tns:articulo">
<xs:sequence>
<xs:element name="consola" type="xs:string" minOccurs="0" />
<xs:element name="fabricante" type="xs:string" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="articulo">
<xs:sequence>
<xs:element name="clasificacion" type="xs:string" minOccurs="0" />
<xs:element name="genero" type="xs:string" minOccurs="0" />
<xs:element name="numCatalogo" type="xs:string" minOccurs="0" />
<xs:element name="titulo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="obtenerClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="numCredencial" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>